*,::before,::after{
	margin: 0;
	padding: 0;
}
body{
    --primary:#f1f1f1;
    --secondar:#000;
    --third:gray;
	width: 100%;
	height: 100vh;
    position: relative;
	font-size: 1rem;

    /* #########################################################################Navigateur */

.nav-principal{
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 1s linear;
	text-align: center;
	
}
.nav-principal ul {
	list-style-type: none;
	position: absolute;
	width: 100%;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background:transparent;
	transition: all 0.2s ease;
}
.nav-principal ul li{
	margin: 1rem 0 ;
	text-align: center;
	
}
.nav-principal.hidden{
	opacity: 1;
	visibility: visible;
	transition: opacity 1s ease, visibility 1s linear 0.5s;
}
.nav-principal a{
	font-size: 25px;
	position: relative;
	padding: 1rem;
	text-decoration: none;
	color: var(--secondar);
	/* opacity: 0; */
}

.nav-principal a::before{
	content: " ";
	display: block;
	width: 0%;
	height: 1.5px;
	top: 90%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: var(--primary);
	position: absolute;
	border-radius: 5px;
	transition: width 0.2s ease-in-out;
}
.nav-principal a::after{
	content: "";
	display: block;
	width: 0%;
	height: 1.5px;
	top: 0%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	background: var(--primary);
	border-radius: 5px;
	transition: width 0.2s ease-in-out;
}
.nav-principal a:hover::before,
.nav-principal a:hover::after{
	width: 100%;
	
}

.nav-principal.active{
	height: 100vh;
}
.liens-navigation {
    text-decoration: none;
    color: #444; /* Couleur du texte */
    font-size: 18px; /* Taille du texte */
    font-weight: 600; /* Épaisseur du texte */
    padding: 12px 24px; /* Remplissage du lien */
    border-radius: 6px; /* Bord arrondi */
    transition: all 0.3s ease; /* Animation de transition */
    border: 2px solid transparent; /* Bordure transparente */
}

.liens-navigation:hover {
    background-color: #e0e0e0; /* Couleur de fond au survol */
    color: #222; /* Couleur du texte au survol */
    border-color: #aaa; /* Couleur de la bordure au survol */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Légère ombre au survol */
}
.cont{
    background:transparent;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
	
       
}
.cont-icons{
    width: 70%;
    max-width: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    list-style: none;
    padding: 1%;
    z-index: 500;
	gap: 20px;
	
    

}
.icon{
    color: #f1f1f1;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    text-align: center;
    position: relative;
    transition: font-size 2s linear 1s;
    
}
.icon:hover{
	width: 1.3em;
	box-shadow: #f1f1f1;
}

.icon:nth-child(1):hover{
	animation: anim-1 2s linear infinite;
}
.icon:nth-child(2):hover{
	animation: anim-1 2s linear infinite;
}
.icon:nth-child(3):hover{
	animation: anim-1 2s linear infinite;
}
@keyframes anim-1{
	0%{
		box-shadow: 0 -2px 2px 0px rgba(241,241,241,0.8)
	}
	25%{
		box-shadow: 2px 0px 2px 0px rgba(241,241,241,0.8)
	}
	50%{
		box-shadow: 0 2px 2px 0px rgba(241,241,241,0.8)
	}
	70%{	²
		box-shadow: -2px 0px 2px 0px rgba(241,241,241,0.8)
	}
	100%{
		box-shadow: 0 -2px 2px 0px rgba(241,241,241,0.8)
	}
}

.burger{
	height: 3.5vw;
	width: 3vw;
	background:transparent;
	margin:-2% 95% 0;
	position: relative;
	
	
}
.burger-ligne{
	width: 3vw;
	height: 0.4vw;
	top: 0;
	left: 0;
	border-radius: 5px;
	background: var(--primary);
	position: absolute;
	cursor: pointer;
	transition:top 0.5s ease-in-out,
				transform 0.5s ease-in-out,
				opacity 0.5s ease-in-out;
}


/* Utilisation de flex pour centrer verticalement la ligne */
.burger-ligne::before,
.burger-ligne::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.4vw; /* Utilisation de vw pour rendre la taille responsive */
  border-radius: 5px;
  background: var(--primary);
  position: absolute;
  transition: top 0.5s ease-in-out, transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.burger-ligne::before {
  top: -0.8vw; /* Utilisation de vw pour rendre la taille responsive */
}

.burger-ligne::after {
  bottom: -0.8vw; /* Utilisation de vw pour rendre la taille responsive */
}

/* .burger-ligne:nth-child(1){
	top: 1.5vw;
}

.burger-ligne:nth-child(2){
	top: 2.5vw;
}
.burger-ligne:nth-child(2){
	top: 3.5vw;
} */

}
/* #########################################################################Bacckground */

#acceuil{
	width: 100%;
	height: 100%;
	background-image: url(./image/fond3.png);
	background-size: cover;
	background-attachment: fixed;
	position: absolute;
	overflow: hidden;
	object-fit: cover;
  	object-position: top center;

	
}
.image img{
	position: absolute;
	right: 0;
	bottom: 0;
	animation: wing 15s cubic-bezier(0.32, 0.07, 0.67, 1.19) infinite;

	/* background-image: url(https://tenor.com/fr/view/white-opal-jewel-shells-pikaole-sea-turtle-pretty-gif-21974922); */
	z-index: 1;
	width: 300px;
	max-inline-size: 100%;

	

}

@keyframes wing{
    0%{
        right: 0;
		bottom: 0px;
        
    }
    2%{
        right: 2%;
		bottom: 20px;
        
    }
    4%{
        right: 4%;
		bottom: 30px;
        
    }
    6%{
        right: 6%;
		bottom: 40px;
        
    }
    8%{
        right: 8%;
		bottom: 40px;
        
    }
    10%{
		bottom: 40px;
		right: 10%;
	}
   
    20%{
		bottom: 20px;
		right: 20%;
	}
    30%{
		bottom: 30px;
		right: 30%;
	}
    40%{
		bottom: 10px;
		right: 40%;
	}
    50%{
		bottom: 20px;
		right: 50%;
	}
    60%{
		bottom: 80px;
		right: 60%;
	}
    70%{
		bottom: 90px;
		right: 70%;
	}
    80%{
		bottom: 100px;
		right: 80%;
	}
    90%{
		bottom: 200px;
		right: 90%;
	}
    100%{
		bottom: 300px;
		right: 100%;
	}
   
}




 
/* ################################################corps */
.prest{
	background-position: center;
	position: absolute;
    margin: 10% 10% 10% 10%;
	padding: center;
	font-size: 100%;
    text-align: center;
	display: block;
    
}
.prest.hidden{
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 1s linear;
}
.prest span{
	font-size:clamp(0.5rem, 3.5vw, 50px);
	color:var(--secondar);

}
span{
    font-family: Gill Sans, sans-serif;
}


.wave {
	animation-name: wave-animation;  
	animation-duration: 2.5s;      
	animation-iteration-count: infinite;  
	transform-origin: 70% 70%;      
	display: inline-block;
	}
@keyframes wave-animation{
	0%{
		transform: rotateY(0.0deg);
	}
	10%{
		transform: rotateY(14.0deg);
	}
	20% { 
		transform: rotate(-8.0deg) 
	}
	30% { 
		transform: rotate(14.0deg) 
	}
	40% { 
		transform: rotate(-4.0deg)
	 }
	50% {
		 transform: rotate(10.0deg) 
		}
	60% {
		 transform: rotate( 0.0deg) 
		}

	100% {
		 transform: rotate( 0.0deg) 
		}
}



hr{
	border: none;
	height: 4px;
    margin: 1rem 20rem 2rem;
	background: var(--primary);
}
/* bottom */
.menu{
	border: 2px solid var(--primary);
	padding: 1rem 2rem;
	border-radius: 5px;
	color: var(--secondar);
	text-decoration: none;
	padding:1%;
	box-shadow: 0 0 rgba(241,241,241,1);
	transition: box-shadow 0.2s ease-in-out;
	margin-left: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	font-size: clamp(0.5%,3vw, 100%);
	z-index: 500;
}
.menu:hover{
	background: var(--primary);
	box-shadow: 0 0 10px 7px rgba(241,241,241,12);	
}
.menu.hidden{
	transform: scale(0);
	opacity: 0;
	pointer-events: none;
}

.contact{
	border: 2px solid var(--primary);
	padding: 1rem 2rem;
	border-radius: 5px;
	color: var(--secondar);
	text-decoration: none;
	padding: 1% 3.5%;
	box-shadow: 0 0 rgba(241,241,241,1);
	transition: box-shadow 0.2s ease-in-out;
    margin-left: 2rem;
	font-size: clamp(0.5%,3vw, 100%);
	z-index: 500;
}
.contact:hover{
	background: var(--primary);
    font-size: 18px;
	box-shadow: 0 0 10px 7px rgba(241,241,241,12);	


}
/* ****************************************************************************************** */


/* ######################################################################### Taille d'écran moyenne (par exemple, entre 769px et 1024px) */
